/* handphone */
@media screen and (max-width: 480px) {
  .container-add {
    margin: 4em 0 0 0;
    width: 17em;
  }
  .section-add #text {
    width: 17em;
  }
  .section-add .btn-task {
    width: 4.5em;
    font-size: 1rem;
    margin-right: 0.5em;
  }
  .container-tasks {
    width: 17em;
    padding: 0.5em 1em;
  }
  .container-tasks .task {
    width: 16.8em;
  }
}
